# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# typedef
/flow-typed

# testing
/coverage
.nyc_output

# production
/build

# no-types
/out

# demo
.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
*.iml
.idea

.cache-loader