.idea
.gitignore
.nyc_output
_config.yml
coverage
demo
dist
dll
jest.config.ts
node_modules
out
package-lock.json
react-slideshow-ui.iml
screenshot.png
src
test
tsconfig.json
tslint.json
webpack.config.js
webpack.dll.config.js
yarn.lock